doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title TeamWallet

    link(rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")

  body
    main#balanceVue(role="main" class="container")
      h1#pageTitle Balance
      .row
        .form-group.col-md-12
          input.form-control.form-control-plaintext#balance(type="text" name="balance" v-model="balance" readonly="")
          a.btn.btn-danger.float-right.mr-1.mt-2(type = "button" href="/home") Back


    script(src="/axios.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="/balance-vue.js")

